.modal-main {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
  display: none;
  justify-content: center;
  left: 0;
  min-height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.modal-container {
  background-color: #101010;
  border-radius: 8px;
  max-height: 600px;
  max-width: 480px;
  min-height: 200px;
  min-width: 320px;
  overflow-y: auto;
  position: relative;
}

.modal-close {
  position: absolute;
  right: 0.38rem;
  top: 0.5rem;
}

.modal-main.is-open-modal {
  display: flex;
}

.img-modal {
  display: block;
  height: 50%;
  width: 100%;
}

.title-modal {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0.2rem;
  margin-top: 0.7rem;
  text-align: center;
}

.modal-image {
  border-radius: 8px;
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 240px;
  padding-top: 2rem;
  width: 100%;
}
